.btns {
  display: flex;
  flex-wrap: wrap;
}

.btns__item {
  color: $text-dark;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 45px;
  border-radius: 22.5px;
  overflow: hidden;
  background-color: $btns-bg-color;
  padding: 0 18px;
  display: flex;
  align-items: center;
  &:last-child {
    margin-right: 0;
  }
}
