.user-skills {
  align-self: flex-end;

  @include tablets() {
    width: 100%;
    text-align: center;
    align-self: center;
  }
}
.user-skills__item {
  margin-bottom: 50px;

  @include tablets() {
    margin-bottom: 20px;
  }

  @include phones() {
    margin-bottom: 10px;
  }
}
