-
    var data = [
        ['проживаю', 'москва'],
        ['возраст', '29'],
        ['родился', '13 февраля 1990']
    ] 
section.about
    .container.about__container
        .about__left
            include ./user
        .about__right
            .about__welcome Привет, меня зовут
            .about__name Илья Ионов
            .about__desc
                p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__ps
                p Этот сайт я сделал в рамках обучения.