footer.footer
    .container.footer-container
        .footer__copyright
            include ./copyright
        .footer__data
            .footer__menu
                include ./nav-footer
            .footer__data-columns
                .footer__data-col.footer__data-col--left
                    .footer__text 
                        p Этот сайт я сделал в рамках обучения
                    .footer__socials
                        include ./socials-footer
                blockquote.footer__data-col.footer__data-col--right
                    cite.footer__smart-text 
                        p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    cite.footer__smart-text-author Martin Golding