.paralax-top
    .paralax-top__layer(data-speed="0.1")
        +image('content/prl_clouds.png', 'paralax-top__image', "фон", "presentation")
    .paralax-top__layer(data-speed="0.15")
        +image('content/prl_hills.png', 'paralax-top__image', "фон", "presentation")
    .paralax-top__layer(data-speed="0.2")
        +image('content/prl_train.png', 'paralax-top__image', "фон", "presentation")
    .paralax-top__layer(data-speed="0.25")
        +image('content/prl_grass.png', 'paralax-top__image', "фон", "presentation")
    .paralax-top__layer(data-speed="0")    
        +image('content/prl_fogOfWar.png', 'paralax-top__image', "фон", "presentation")
    .paralax-top__layer(data-speed="0")
        +image('content/prl_fogOfWar2.png', 'paralax-top__image', "фон", "presentation")
