ul.socials.socials--visibility
    -var icons = ['insta','vk','github']
    each icon in icons
        li.socials__item
            a(href='#').socials_link
                +icon(`${icon}`, 'socials_icon')