section.values
    .container.values__container
        h2.values__title
            .section-title Чем я могу быть полезен вам
        .values__desc
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        #skills-component
    .values__wrapper-img
        +image("content/hands.png", "values__img", "фон", "presentation")