section.values
    .container.values__container
        h2.values__title
            .section-title Чем я могу быть полезен вам
        .values__desc
            p Есть опыт в JavaScript, React, Redux, Pug. Написал для этой работы небольшой сервер на NodeJS с использованием Express и с авторизацией PassportJWT. Данные хранятся в MongoDB. Писал свою сборку под Webpack4 c разделением на production и development. Совсем небольшой опыт в Vue.
        #skills-component
    .values__wrapper-img
        +image("content/hands.png", "values__img", "фон", "presentation")